<div class="container">
  <h1 class="text-center my-4">電気料金シミュレーション結果</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">電力会社</th>
        <th scope="col">プラン名</th>
        <th scope="col">料金</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |result| %>
        <tr>
          <td><%= result['provider_name'] %></td>
          <td><%= result['plan_name'] %></td>
          <td><%= number_to_currency(result['price'], unit: '¥', precision: 0) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center my-4">
    <%= link_to '戻る', input_simulations_path, class: 'btn btn-primary' %>
  </div>
</div>
